In [1]:
metals = [
    "Lithium",
    "Beryllium",
    "Sodium",
    "Magnesium",
    "Aluminum",
    "Potassium",
    "Calcium",
    "Scandium",
    "Titanium",
    "Vanadium",
    "Chromium",
    "Manganese",
    "Iron",
    "Cobalt",
    "Nickel",
    "Copper",
    "Zinc",
    "Gallium",
    "Rubidium",
    "Strontium",
    "Yttrium",
    "Zirconium",
    "Niobium",
    "Molybdenum",
    "Technetium",
    "Ruthenium",
    "Rhodium",
    "Palladium",
    "Silver",
    "Cadmium",
    "Indium",
    "Tin",
    "Cesium",
    "Barium",
    "Lanthanum",
    "Cerium",
    "Praseodymium",
    "Neodymium",
    "Promethium",
    "Samarium",
    "Europium",
    "Gadolinium",
    "Terbium",
    "Dysprosium",
    "Holmium",
    "Erbium",
    "Thulium",
    "Ytterbium",
    "Lutetium",
    "Hafnium",
    "Tantalum",
    "Tungsten",
    "Rhenium",
    "Osmium",
    "Iridium",
    "Platinum",
    "Gold",
    "Mercury",
    "Thallium",
    "Lead",
    "Bismuth",
    "Polonium",
    "Francium",
    "Radium",
    "Actinium",
    "Thorium",
    "Protactinium",
    "Uranium",
    "Neptunium",
    "Plutonium",
    "Americium",
    "Curium",
    "Berkelium",
    "Californium",
    "Einsteinium",
    "Fermium",
    "Mendelevium",
    "Nobelium",
    "Lawrencium",
    "Rutherfordium",
    "Dubnium",
    "Seaborgium",
    "Bohrium",
    "Hassium",
    "Meitnerium",
    "Darmstadtium",
    "Roentgenium",
    "Copernicium",
    "Nihonium",
    "Flerovium",
    "Moscovium",
    "Livermorium"
]

### Elements between parentehsis

In [2]:
import pdfplumber
import re

# Define the correct path to the PDF file
pdf_path = "mcs2024.pdf"

# Function to extract text between parentheses after the title and before the next heading
def extract_relevant_text(text):
    # Find the text between 'ABRASIVES (MANUFACTURED)' and 'Domestic Production and Use:'
    pattern = re.compile(r'ABRASIVES \(MANUFACTURED\)(.*)Domestic Production and Use:', re.DOTALL)
    match = pattern.search(text)
    if match:
        relevant_text = match.group(1)
        # Extract text within parentheses and remove parentheses
        parentheses_text = re.findall(r'\((.*?)\)', relevant_text)
        return parentheses_text
    return []

# Open the PDF file and extract text from page 33
with pdfplumber.open(pdf_path) as pdf:
    page = pdf.pages[33]  # Page 33 is index 32
    text = page.extract_text()

# Extract the relevant text
parentheses_text = extract_relevant_text(text)
print(parentheses_text)

['Fused aluminum oxide, silicon carbide, and metallic abrasives', 'Data in metric tons unless otherwise specified']

### PDF table to lines (pdfplumber)

In [3]:
import pdfplumber
import re

# Define the correct path to the PDF file
pdf_path = "mcs2024.pdf"

# Function to extract text between the specified headings
def extract_text_between_headings(text, start_heading, end_heading):
    # Find the text between start_heading and end_heading
    pattern = re.compile(re.escape(start_heading) + r'(.*?)' + re.escape(end_heading), re.DOTALL)
    match = pattern.search(text)
    if match:
        return match.group(1).strip()
    return ""

# Open the PDF file and extract text from page 33
with pdfplumber.open(pdf_path) as pdf:
    page = pdf.pages[46]  # Page 33 is index 32
    text = page.extract_text()

# Extract the text between 'ABRASIVES (MANUFACTURED)' and 'Domestic Production and Use:'
start_heading = 'Russia were revised based on company and Government reports.'
# start_heading = "World Smelter Production and Capacity"
end_heading = "World Resources"
relevant_text = extract_text_between_headings(text, start_heading, end_heading)

rt_lines = relevant_text.split('\n')

In [4]:
rt_lines

['Alumina production5 Bauxite production Bauxite reserves6',
 '2022 2023e 2022 2023e',
 'United States e920 780 W W 20,000',
 'Australia 19,500 19,000 102,000 98,000 73,500,000',
 'Brazil e10,000 10,000 e30,000 31,000 2,700,000',
 'Canada 1,360 1,600 — — —',
 'China 81,900 82,000 e90,000 93,000 710,000',
 'Germany e1,000 720 — — —',
 'Greece 861 860 e1,200 1,200 —',
 'Guinea 340 330 e100,000 97,000 7,400,000',
 'India e7,500 7,300 e24,000 23,000 650,000',
 'Indonesia e1,200 1,200 e21,000 20,000 1,000,000',
 'Ireland 1,630 1,200 — — —',
 'Jamaica 634 1,500 4,370 6,000 2,000,000',
 'Kazakhstan 1,340 1,300 4,400 4,300 160,000',
 'Russia 3,080 2,400 5,780 5,800 480,000',
 'Saudi Arabia e1,900 1,800 e4,800 4,600 180,000',
 'Spain 1,340 640 — — —',
 'Turkey 300 290 2,800 2,000 63,000',
 'Ukraine 300 — — — —',
 'United Arab Emirates 2,430 2,300 — — —',
 'Vietnam 1,430 1,400 e3,900 3,700 5,800,000',
 'Other countries 1,200 880 5,900 5,600 5,100,000',
 'World total (rounded) 140,000 140,000 8400,000 8400,000 30,000,000']

### PDF table to words (fitz)

In [5]:
import fitz  # PyMuPDF

def read_pdf(file_path):
    # Open the PDF file
    document = fitz.open(file_path)
    
    # Create a list to hold the pages as strings
    pages = []
    
    # Iterate through each page
    for page_num in range(len(document)):
        # Get the page
        page = document.load_page(page_num)
        
        # Extract text from the page
        text = page.get_text("text")
        
        # Append the text to the pages list
        pages.append(text)
    
    return pages

# Example usage
file_path = 'mcs2024.pdf'
pdf_pages = read_pdf(file_path)

# Print the text of the first page
page = pdf_pages[46]

In [6]:
rel_textpymu = extract_text_between_headings(page, start_heading, end_heading)

rt_words = rel_textpymu.split('\n')

In [7]:
rt_words

['Alumina production5 ',
 'Bauxite production ',
 'Bauxite reserves6 ',
 ' ',
 '2022 ',
 '2023e ',
 '2022 ',
 '2023e ',
 ' ',
 'United States ',
 'e920 ',
 '780 ',
 'W ',
 'W ',
 '20,000 ',
 'Australia ',
 '19,500 ',
 '19,000 ',
 '102,000 ',
 '98,000 ',
 '73,500,000 ',
 'Brazil ',
 'e10,000 ',
 '10,000 ',
 'e30,000 ',
 '31,000 ',
 '2,700,000 ',
 'Canada ',
 '1,360 ',
 '1,600 ',
 '— ',
 '— ',
 '— ',
 'China ',
 '81,900 ',
 '82,000 ',
 'e90,000 ',
 '93,000 ',
 '710,000 ',
 'Germany ',
 'e1,000 ',
 '720 ',
 '— ',
 '— ',
 '— ',
 'Greece ',
 '861 ',
 '860 ',
 'e1,200 ',
 '1,200 ',
 '— ',
 'Guinea ',
 '340 ',
 '330 ',
 'e100,000 ',
 '97,000 ',
 '7,400,000 ',
 'India ',
 'e7,500 ',
 '7,300 ',
 'e24,000 ',
 '23,000 ',
 '650,000 ',
 'Indonesia ',
 'e1,200 ',
 '1,200 ',
 'e21,000 ',
 '20,000 ',
 '1,000,000 ',
 'Ireland ',
 '1,630 ',
 '1,200 ',
 '— ',
 '— ',
 '— ',
 'Jamaica ',
 '634 ',
 '1,500 ',
 '4,370 ',
 '6,000 ',
 '2,000,000 ',
 'Kazakhstan ',
 '1,340 ',
 '1,300 ',
 '4,400 ',
 '4,300 ',
 '160,000 ',
 'Russia ',
 '3,080 ',
 '2,400 ',
 '5,780 ',
 '5,800 ',
 '480,000 ',
 'Saudi Arabia ',
 'e1,900 ',
 '1,800 ',
 'e4,800 ',
 '4,600 ',
 '180,000 ',
 'Spain ',
 '1,340 ',
 '640 ',
 '— ',
 '— ',
 '— ',
 'Turkey ',
 '300 ',
 '290 ',
 '2,800 ',
 '2,000 ',
 '63,000 ',
 'Ukraine ',
 '300 ',
 '— ',
 '— ',
 '— ',
 '— ',
 'United Arab Emirates ',
 '2,430 ',
 '2,300 ',
 '— ',
 '— ',
 '— ',
 'Vietnam ',
 '1,430 ',
 '1,400 ',
 'e3,900 ',
 '3,700 ',
 '5,800,000 ',
 'Other countries ',
 '    1,200 ',
 '       880 ',
 '     5,900 ',
 '     5,600 ',
 '  5,100,000 ',
 'World total (rounded) ',
 '140,000 ',
 '140,000 ',
 '8400,000 ',
 '8400,000 ',
 '30,000,000']

### Text to csv

In [12]:
res = []
for line in rt_lines:
    line_len = len(line)
    line_words = []
    words_lenght = 0
    for word in rt_words:
        # Strip the word to remove any leading/trailing whitespace and calculate its length
        word_len = len(word.strip())
        words_lenght += word_len
        if words_lenght > line_len:  # If the total length exceeds the line length, break
            break
        else:
            line_words.append(word.strip())  # Add the stripped word to the line_words
            if len(" ".join(line_words)) >= line_len:  # Check if the current words match the line length
                break
    res.append(line_words)
    # Remove the words that have been used in the current line
    rt_words = rt_words[len(line_words):]

res

[['Alumina production5', 'Bauxite production', 'Bauxite reserves6'],
 ['', '2022', '2023e', '2022', '2023e'],
 ['', 'United States', 'e920', '780', 'W', 'W', '20,000'],
 ['Australia', '19,500', '19,000', '102,000', '98,000', '73,500,000'],
 ['Brazil', 'e10,000', '10,000', 'e30,000', '31,000', '2,700,000'],
 ['Canada', '1,360', '1,600', '—', '—', '—'],
 ['China', '81,900', '82,000', 'e90,000', '93,000', '710,000'],
 ['Germany', 'e1,000', '720', '—', '—', '—'],
 ['Greece', '861', '860', 'e1,200', '1,200', '—'],
 ['Guinea', '340', '330', 'e100,000', '97,000', '7,400,000'],
 ['India', 'e7,500', '7,300', 'e24,000', '23,000', '650,000'],
 ['Indonesia', 'e1,200', '1,200', 'e21,000', '20,000', '1,000,000'],
 ['Ireland', '1,630', '1,200', '—', '—', '—'],
 ['Jamaica', '634', '1,500', '4,370', '6,000', '2,000,000'],
 ['Kazakhstan', '1,340', '1,300', '4,400', '4,300', '160,000'],
 ['Russia', '3,080', '2,400', '5,780', '5,800', '480,000'],
 ['Saudi Arabia', 'e1,900', '1,800', 'e4,800', '4,600', '180,000'],
 ['Spain', '1,340', '640', '—', '—', '—'],
 ['Turkey', '300', '290', '2,800', '2,000', '63,000'],
 ['Ukraine', '300', '—', '—', '—', '—'],
 ['United Arab Emirates', '2,430', '2,300', '—', '—', '—'],
 ['Vietnam', '1,430', '1,400', 'e3,900', '3,700', '5,800,000'],
 ['Other countries', '1,200', '880', '5,900', '5,600', '5,100,000'],
 ['World total (rounded)',
  '140,000',
  '140,000',
  '8400,000',
  '8400,000',
  '30,000,000']]

In [13]:
import pandas as pd


df = pd.DataFrame(res)
df

,0,1,2,3,4,5,6
0,Alumina production5,Bauxite production,Bauxite reserves6,None,None,None,None
1,,2022,2023e,2022,2023e,None,None
2,,United States,e920,780,W,W,"20,000"
3,Australia,"19,500","19,000","102,000","98,000","73,500,000",None
4,Brazil,"e10,000","10,000","e30,000","31,000","2,700,000",None
5,Canada,"1,360","1,600",—,—,—,None
6,China,"81,900","82,000","e90,000","93,000","710,000",None
7,Germany,"e1,000",720,—,—,—,None
8,Greece,861,860,"e1,200","1,200",—,None
9,Guinea,340,330,"e100,000","97,000","7,400,000",None
10,India,"e7,500","7,300","e24,000","23,000","650,000",None
11,Indonesia,"e1,200","1,200","e21,000","20,000","1,000,000",None
12,Ireland,"1,630","1,200",—,—,—,None
13,Jamaica,634,"1,500","4,370","6,000","2,000,000",None
14,Kazakhstan,"1,340","1,300","4,400","4,300","160,000",None
15,Russia,"3,080","2,400","5,780","5,800","480,000",None
16,Saudi Arabia,"e1,900","1,800","e4,800","4,600","180,000",None
17,Spain,"1,340",640,—,—,—,None
18,Turkey,300,290,"2,800","2,000","63,000",None
19,Ukraine,300,—,—,—,—,None
20,United Arab Emirates,"2,430","2,300",—,—,—,None
21,Vietnam,"1,430","1,400","e3,900","3,700","5,800,000",None
22,Other countries,"1,200",880,"5,900","5,600","5,100,000",None
23,World total (rounded),"140,000","140,000","8400,000","8400,000","30,000,000",None